@import "../../../styles.scss";

.containerChooseDay {
    width: 20rem;
    height: 14.375rem;
    background-color: $wine;
    border-radius: 1.25rem;
    padding: 0.4rem;
    margin-bottom: 1.25rem;

    .dayOfWeek {
        @include text-cousine-regular(1rem, $white);
        margin-bottom: 0.5rem;
        margin-left: 0.3rem;
    }

    .typeContainer{
        background-color: #C9ADA7;
        width: 17.625rem;
        height: 2.5rem;
        padding: 0.2rem 0.3rem;
        border-radius: 0.3125rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.25rem;
    
        .typeTitle{
            @include text-cousine-regular(1rem, $black);
        }
    }
}